* {
 margin: 0;
 padding: 0;
}

html, body {
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
}

#site-wrapper {
  height: 100%;
  overflow: auto;
}

html {
  scroll-behavior: smooth;
}


body{
  background: url(/images/jose-murillo-22953.jpeg) center / cover;
}

.portfolio-layout-transparent {
  background: url(/images/jose-murillo-22953.jpeg) center / cover;
  margin-top: 10px;

}

.portfolio-layout-transparent .mdl-layout__header,
.portfolio-layout-transparent .mdl-navigation__link,
.portfolio-layout-transparent .mdl-layout__drawer-button {
/* This background is dark, so we set text to white. Use 87% black instead if
   your background is light. */
  color: #6B5E3D;
}

#profile-pic {
box-shadow: 0px 2px 6px 1px RGBA(4,4,4,.60);
border-radius: 50%;
width: 200px;
height: 200px;
margin-top: 6%;
}

/* Font related */

/* Drop-down title */
span.mdl-layout-title {
  font-size: 1.7rem;
}


.mdl-layout__drawer-button i {
  margin-top: 10px;
  font-size: 1.7rem;
}
.nav-icons {
  margin-top: 10px;
}

.mdl-layout__drawer a {
  font-size: 1.4rem;
}

.mdl-navigation i {
  font-size: 2rem;
}

.intro {
 height: 100vh;
 border: solid 2px black;
}


h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: #A29064;
  text-align: center;
  font-size: 3.5em;
  margin: 60px;
  line-height: auto;

}

.slogan {
  letter-spacing:0.1em;
  line-height: 100%;

  padding: 7%;
  text-transform: lowercase;
  font-size: 7em;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  font-weight: 400;
  color: #A29064;
  text-align: center;

}

div.scroll-arrow {
  bottom: 10px;
  position: absolute;
  width: 100%;
  z-index: 1;
  text-align: center;
  padding-bottom: 10px;
  -webkit-overflow-scrolling: touch;

}

div.about-me {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-bottom: 10px;

  text-align: center;
  -webkit-overflow-scrolling: touch;

}

.about-me  {
  text-align: center;
  justify-content: center;
  height: 100vh;


}

.about-me article {

}

.about-me div:first-child {

}

.bio {
  margin: 80px;
  
  justify-content: center;
  border: solid 4px green;
}

.bio p {
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  font-weight: 400;
  color: #A29064;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  padding: 10px;
  border: solid 2px pink;
}


/* button scroll */

.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 10px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.projects {
  height: 100vh;
  border: solid 2px black;
}


/*


header {
  margin-top: 30px;
  background: url(/images/jose-murillo-22951.jpg) center / cover;
  height: 95vh;
  justify-content: center;
  text-align: center;
}

body {
  padding-bottom: 5rem;
  background-color: #D5D5D5;

}


h1 {
  color: hsla(0, 0%, 0%, 0.9);
  font-weight: bold;
}

.slogan {
  color: hsla(0, 0%, 0%, 0.7);
  font-weight: lighter;
  font-size: 1.6rem;
}



.project-description {
  padding-left: 0;
}

.project img {
  width: 100%;
}

.img-mdl-cell {
  height: 173px;
  width: 283px;
}



footer.mdl-mini-footer {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

footer.mdl-mini-footer > ul {
  margin: auto;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}


*/
